<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <style>
    html, body, #layout {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  </style>
</head>
<body>
<div id="layout"></div>

<script>
  window.INIT_DATA = {
    USER_CENTER_URL: '',
    LOG_OUT_URL: '',
    USER_INFO: {
      avatar: 'https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png',
      name: '混世魔王'
    },
    AUTH_LIST: {
      menuList: "ApolloBMS_menu_Base,ApolloBMS_menu_Advert,ApolloBMS_menu_Product,ApolloBMS_menu_Banner,ApolloBMS_menu_City,ApolloBMS_menu_Hot,ApolloBMS_menu_Business,ApolloBMS_menu_Content,ApolloBMS_menu_Notice,ApolloBMS_menu_UserCenter,ApolloBMS_menu_User,ApolloBMS_menu_Feedback,ApolloBMS_menu_Website,ApolloBMS_menu_WebBanner,ApolloBMS_menu_WebProduct,ApolloBMS_menu_WebZuBei,ApolloBMS_menu_Decorate,ApolloBMS_menu_Live,ApolloBMS_menu_WebUser,ApolloBMS_menu_Topic,ApolloBMS_menu_Recruit,ApolloBMS_menu_News"
    }
  }
</script>

<script src='/cached/vendor.dll.js'></script>
<script src="/ckeditor/ckeditor.js"></script>
</body>
</html>
